*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    background-color: black;
    font-family: sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: ;
}


/* header */

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #222222;
    color: white;
    z-index: 2;
}

.nav-set{
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
}

.nav-center{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    height: 80px;
}

.nav-right{
    justify-content: center;
    align-items: center;
    color: red;
    background-color: #4a4a4a;
    height: 80px;
}


.fa,.material-symbols-outlined{
    height: 20px;
}

.fa-share{
    color: #4cca15;
    font-size: 20px;
}


.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-text{
    margin-top: 10px;
    font-size: .8em;
}


/* fine header */

/* main */

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding-top: 30px;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 40px;
    overflow-y: auto;
}

.layout-call{
    padding-bottom: 80px;
}


.img-user{
    position: relative;
    margin-bottom: 5px;
}

.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0000006c;
    bottom: 0;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.user .fa{
    transform: translate(0,2px);
    margin-right: 3px;
}


.user{
    display: flex;
    position: relative;
}

/* tool */
.tool-call{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    height: 50px;
    padding: 6px 20px;
    gap: 5px;
}

.tool-call>span,.fa-arrows-alt{
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    height: 32px;
    color: white;
    background-color: #575757;
    border-radius: 5px;
    padding: 7px;
    gap: 10px;
}

/* fine main */